/* Move down content because we have a fixed navbar that is 50px tall */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200&display=swap');
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    -webkit-print-color-adjust: exact !important;
}
.width100{
    width:100%;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    text-align: center;
}
.footer_img{
   
}
.client_NameHere{
    direction:rtl;
}
.client_id {
    top: -596px;
    right: -1002px;
    color: #6b6e70;
    position: relative;
    FONT-SIZE: 22px;
    font-weight: bold;
}
.client_name {
    top: -662px;
    right: -678px;
    color: #141414;
    position: relative;
    FONT-SIZE: 25px;
    font-weight: bold;
}
.print_date {
    top: -594px;
    left: -864px;
    color: #707375;
    position: relative;
    FONT-SIZE: 19px;
    font-weight: bold;
    direction: rtl;
}
.test_date {
    top: -467px;
    left: 694px;
    color: #707375;
    position: relative;
    FONT-SIZE: 19px;
    font-weight: bold;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

@page {
    size: auto;
    margin: 0mm;
}
.print{
    display:none;
}
.form_container{
    padding:20px;
    direction:rtl;
}
@media print {
    .navbar.navbar-inverse.navbar-fixed-top{
        display:none;
    }
    .print{
        display:block;
    }
    .noPrint {
        display: none;
    }
    .client_id {
        top: -591px;
        right: -992px;
    }
    footer {
        text-align: center;
        margin-top: 68%;
    }
    .client_name {
        top: -662px;
        right: 0%;
        margin-right:18px;
        color: #313131;
        position: relative;
        FONT-SIZE: 28px;
        font-family: sans-serif;
        font-weight: bold;
        direction:rtl;
    }
    .print_date {
        top: -594px;
        left: -850px;
        color: #707375;
        position: relative;
        FONT-SIZE: 19px;
        font-weight: bold;
    }
    .test_date {
        top: -463px;
        left: 694px;
        color: #707375;
        position: relative;
        FONT-SIZE: 19px;
        font-weight: bold;
    }
}
